@import "./fonts/Ubuntu.css";

html { font-size:62.5%; }

* { border-collapse:collapse; box-sizing:border-box; }

body {
	/*background-color:#383c45;*/
	/*background:url("images/grid.png");*/
	background-color:hsl(210,10%,10%);
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='50'><path d='M 0,0 V 30 C 40,30 60,5 100,5 V 0 Z' style='fill:rgb(0,0,0);opacity:0.15' /></svg>");
	background-repeat:no-repeat;
	background-size:cover;
	background-attachment:fixed;

	color:#ccc;
	font-size:1.6rem;
	line-height:1.5;
	font-family:Ubuntu, Helvetica, Arial, sans-serif;
	/* font-family: Times, "Times New Roman", serif; */
	border:0px; padding:0px; margin:0px;
}

h1,h2,h3,h4,h5,h6 { line-height:1.2; font-weight:500; margin:1.5em 0 0.5em 0; }

sup, sub { line-height:0; }

a { 
	color:#78a;
	color:hsl(210,20%,55%);
	background-color:transparent;
	text-decoration:none; }
a:hover { color:#9ac; color:hsl(210,20%,70%); }

p { margin:0; }
p + p { text-indent:3em; }

table, th, tr, td { border-spacing:0px; border:0px; padding:0px; margin:0px; }

#main-header { padding:5px; position:fixed; top:0; width:100%; }
#main-footer { padding:5px; position:fixed; bottom:0; width:100%; }

#clocky { font-size:1.5rem; font-family:"Ubuntu Condensed", "Helvetica Narrow", "Arial Narrow", sans-serif; position:absolute; right:10px; }

main { max-width:1000px; margin:auto; }

.element {
	width:90%;
	padding:25px;
	margin:5rem auto;
	/*background-color:rgba(0,0,0,0.4);*/
	box-sizing:border-box;
}
.element h1 { margin-top:0; }

.clear-float { clear:both; width:100%; }

hr { border:none; margin:0; margin-bottom:1rem; height:1px; background:rgba(255,255,255,0.3); }

/* --- logo --- */
#logo #name {font-size:3em; }
#logo #info { float:right; font-size:1.1em; }
#logo #info span { margin-left:0.5em; }
/* --- logo --- */
#info-bottom { font-size:1.1em; }
#info-bottom span { margin-left:0.5em; }
#top-arrow { float:right; font-size:1.8em; }



/* --- main --- */
#projects { height:; }
.images { margin-top:1em; margin-bottom:em; }

.image { float:left; width:44%; margin:0 3%; position:relative; }
.image img { width:100%; box-shadow: 3px 3px 6px rgba(0,0,0,0.5); }
.image > a:after { 
	content:"Click to view full-sized."; 
	color:#ccc; text-align:center; width:100%;
	position:absolute; top:0;
	background:rgba(0,0,0,0.3); background:linear-gradient(rgba(0,0,0,0.6), transparent);
	padding-bottom:0.5em;
	display:block; opacity:0; transition: opacity 1s;
}
.image > a:hover:after { opacity:1; }

.image #imanu-demo:after { content:"Click for a demo!"; }
.image.video > a:after { content:"Click to view the video."; }

.image .description { 
	font-size:; font-family:"Ubuntu Condensed", "Helvetica Narrow", "Arial Narrow", sans-serif;
	text-align:center; height:4em;
}
/* --- main --- */



/* --- 404 --- */
#notfound { font-size:1.2em; text-align:center; font-family:Ubuntu, Arial, Helvetica, sans-serif; }
#notfound div:nth-child(1) { font-size:3em; }
/* --- 404 --- */


/* --- glider --- */
.glider { float:left; }
.glider table, .glider tr, .glider td {
	border:1px solid #888;
	border-collapse:collapse;
	/* table-layout:fixed; */
}
.glider tr { height:7px; }
.glider td { width:7px; }
.glider-fill { 
	background:#aaa; 
	border-radius: 2px;
	width:4px;
	height:4px;
	position:relative;
	left:1px;
}
.glider-text { font-family:Courier, "Courier New", monospace; margin-left:5px; display:none; }
/* --- glider --- */


@media screen and (max-width:800px) {
	.element { width:auto; }

	.image { float:none; width:400px; margin:auto; max-width:90%; }
}
